@font-face {
  font-family: 'greycliff-bold';
  src: url('//www.udel.edu/content/dam/udelImages/digital-brand-assets/fonts/GreycliffCF-Bold.woff2') format('woff2'),
       url('//www.udel.edu/content/dam/udelImages/digital-brand-assets/fonts/GreycliffCF-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'greycliff-light';
  src: url('//www.udel.edu/content/dam/udelImages/digital-brand-assets/fonts/GreycliffCF-Light.woff2') format('woff2'),
       url('//www.udel.edu/content/dam/udelImages/digital-brand-assets/fonts/GreycliffCF-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vanguard-regular';
  src: url('//www.udel.edu/content/dam/udelImages/digital-brand-assets/fonts/vanguard-cf-regular.woff2') format('woff2'),
       url('//www.udel.edu/content/dam/udelImages/digital-brand-assets/fonts/vanguard-cf-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Header */

.udHeader { 
  position: relative; 
  width: 100%; 
  background-color: #00539f; 
  border-bottom: 2px solid #ffd300; 
  float: left; 
}

.udHeaderContainer { 
  width: 100%; 
  margin: auto; 
  overflow: hidden; 
  position: relative; 
}

.udHeaderWrapper { 
  position: relative; 
  width: 100%; 
  float: left;
}

.udHeaderLogo img { 
  height: 70px; 
  float: left; 
  margin: 20px; 
}

.udHeader-collegeOuterWrapper { 
  width: 100%; 
  background: #003c71; 
  overflow: hidden; 
  position: relative; 
  z-index: 1000; 
}

.udHeader-collegeBar { 
  width: 100%; 
  margin: auto; 
  padding: 15px 25px; 
  font-size: 18px; 
  box-sizing: border-box; 
  background: #003c71; 
  overflow: hidden; 
  position: relative; 
  z-index: 1000; 
  line-height: normal; 
}

.udHeader-collegeWrapper a { 
  font-family: 'greycliff-bold'; 
  letter-spacing: 1px; 
  text-transform: uppercase; 
  color: #FFF; 
  text-decoration: none; 
  line-height: normal;
  font-weight: normal; 
  -webkit-font-smoothing: auto; 
  -moz-osx-font-smoothing: auto; 
}

.udHeader-collegeWrapper a:hover { 
  text-decoration: none; 
}

/* App Design*/

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  flex: 1 0 auto;
}

/* Footer */

.footer {
  display: flex;
  flex-shrink: 0;
}

.udFooter { 
  width: 100%;
  margin-top: 30px;
  background-color: #fff;
  border-top: 3px solid #ffd300; 
  clear: both;
}
  
.udFooter-container { 
  width: 100%;  
  margin: auto; 
  position: relative; 
}

.udFooterLogo { 
  width: 129px; 
  position: absolute; 
  top: -33px; 
  left: 0; 
  z-index: 2; 
}
  
.udFooterHeader { 
  float: right; 
  width: 100%; 
}

.udFooterSocial-icons { 
  padding: 0; 
  margin: 8px 5px 0 0;  
  list-style: none; 
  float: right; 
}

.udFooterSocial-icons li { 
  padding: 0;
  display: inline-block;
  margin: 0;
  width: 44px; height: 44px;
  padding-left: 0;
}
  
.udFooterSocial-icons li a {  
  width: 44px; 
  padding: 12px 0 12px 0; 
  display: block; 
}
  
  
.udFooterSocial-icons img {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin: auto;
  display: block;
}
  
.udFooterLinks { 
  width: 100%; 
  margin: 124px auto 0 auto; 
  background-color: #eee; 
  clear: both; 
}
  
.udFooterLinks div {
  font-family: Arial;
  font-size: 10px;
  color: #000000;
  margin: auto;
  text-align: center;
}
  
.udFooterLinks div a { 
  color: #005AAD; 
}

.link-item { 
  padding: 8px 10px 10px 0; 
  display: inline-block; 
  margin: auto; 
}

.container-fluid { 
  width: 80%; 
  text-align: center;
}

/* Welcome Message */

.Welcome-message {
  margin: 2em;
}

.Welcome-message h1 {
  font-family: 'greycliff-bold'; 
  font-size: 60px;
  color: #00539F;
}

.Welcome-message p {
  font-family: 'greycliff-light';
  font-size: 25px;
  text-align: left;
}

.initial-schedule{
  display: flex;
  justify-content: center;
}

.addSemesterH3 {
  text-align: center;
}